/* Global */
* {
  box-sizing: border-box;
  font-family: Roboto-Regular;
}

/* Header */
.header {
}
.header__offer {
  background: #b36050;
  padding-top: 9px;
  padding-bottom: 11px;
  text-align: center;
}
.header__offer-txt {
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #f1d3b9;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 14px;
  padding-left: 22px;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 32px;
  padding-top: 6px;
}
.header__nav-link {
  font-size: 18px;
  text-transform: capitalize;
  color: #b4604d;
  text-decoration: none;
  cursor: pointer;
}
.headet__top-img {
  width: 120px;
  margin-left: -247px;
}
.header__shop {
  display: flex;
  align-items: center;
  padding-top: 2px;
}
.header__shop_menu {
  display: none;
}
.header__shop-link {
  font-size: 14px;
  line-height: 160%;
  color: #b45f4d;
  cursor: pointer;
}
.header__shop-icon {
  width: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.header__shop-number {
  font-size: 15px;
  color: #b4604d;
  margin-left: 5px;
  cursor: pointer;
}
.header__middle {
  padding-top: 331px;
  padding-bottom: 55px;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__middle-btn {
  width: 128px;
  height: 48px;
  background: #b45f4d;
  font-size: 17px;
  line-height: 169%;
  color: #fff;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
}
.header__bottom {
  background: #a9ae8d;
  padding-top: 69px;
  padding-bottom: 70px;
  padding-left: 70px;
}
.header__bottom-quest {
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #f6f4ec;
  margin-bottom: 15px;
}
.header__bottom-title {
  font-size: 33px;
  line-height: 194%;
  color: #f6f4ec;
  margin-bottom: 30px;
}
.header__bottom-link {
  font-size: 16px;
  line-height: 170%;
  color: #f6f4ec;
  text-decoration: none;
}
.burger__open {
  cursor: pointer;
  display: none;
}
.burger__open-line {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}
.burger__open-line:last-child {
  margin-bottom: 0;
}
.burger__menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 50px;
}
.burger__menu-inner {
  display: flex;
  justify-content: space-between;
}
.burger__menu-open {
  left: 0;
  animation: burgerOpenX 0.5s linear;
}
.burger__menu-close {
  left: -320px;
  animation: burgerCloseX 0.5s linear;
}
.burger__nav-link {
  font-size: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.burger__close {
  cursor: pointer;
  margin-right: 30px;
}
.burger__close-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 16px;
}
.burger__close-line:first-child {
  transform-origin: top left;
  transform: rotate(40deg);
}
.burger__close-line:last-child {
  margin-bottom: 0;
  transform-origin: bottom left;
  transform: rotate(320deg);
}
.burger__end-line {
  width: 230px;
  height: 1px;
  background-color: black;
  margin-top: 20px;
}
@keyframes burgerOpenX {
  0% {
    left: -320px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: 0;
  }
}
@keyframes burgerCloseX {
  0% {
    left: 0px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: -320px;
  }
}

@media screen and (max-width: 1000px) {
  .headet__top-img {
    margin-left: 0px;
  }
  .header__nav {
    display: none;
  }
  .burger__open {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header__bottom {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__bottom-quest {
    font-size: 16px;
  }
  .header__bottom-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 500px) {
  .header__shop_main {
    display: none;
  }
  .header__shop_menu {
    margin-top: 20px;
    display: flex;
  }
  .header__shop_menu .header__shop-link {
    color: #000;
  }
  .header__shop_menu .header__shop-number {
    color: #000;
  }
  .headet__top-img {
    margin-right: 10px;
  }
}

/* Shop */
.shop {
  padding-top: 47px;
  padding-bottom: 86px;
  background: #f6f4ec;
}
.shop__container {
  max-width: 1300px;
  margin: 0 auto;
}
.shop-title {
  font-size: 23px;
  text-transform: capitalize;
  text-align: center;
  color: #b45f4d;
  margin-bottom: 53px;
}
.shop__body {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  gap: 80px;
  justify-content: center;
}
.shop__item {

}
.shop__item-img {
  width: 380px;
  margin-bottom: 11px;
}
.shop__item-name {
  font-size: 18px;
  text-transform: uppercase;
  color: #b45f4d;
  margin-bottom: 10px;
}
.shop__item-price {
  font-size: 16px;
  color: #b45f4d;
}

@media screen and (max-width: 1350px) {
  .shop__body {
    grid-template-columns: 380px 380px;
  }
}
@media screen and (max-width: 900px) {
  .shop__body {
    grid-template-columns: 380px;
  }
}
@media screen and (max-width: 450px) {
  .shop__container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .shop__body {
    grid-template-columns: 260px;
  }
  .shop__item-img {
    width: 260px;
    margin-bottom: 11px;
  }
}

/* Banner */
.banner {
  padding-top: 24.5px;
  padding-bottom: 48px;
  padding-right: 30px;
  padding-left: 30px;
}
.banner__container {
  max-width: 1219px;
  margin: 0 auto;
  position: relative;
}
.banner-img {
  width: 1219px;
}
.banner__box {
  background: #df9b7a;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 322px;
  left: 0;
  width: 1219px;
}
.banner__box-txt {
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
  color: #f6f4ec;
}
.banner__box-link {
  font-size: 18px;
  line-height: 160%;
  color: #f6f4ec;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .banner-img {
    width: 800px;
  }
  .banner__box {
    width: 800px;
    top: 210px;
    padding: 20px;
  }
  .banner__box-txt {
    font-size: 18px;
  }
  .banner__box-link {
    font-size: 16px;
  }
  .banner__container {
    max-width: 800px;
  }
}
@media screen and (max-width: 900px) {
  .banner-img {
    width: 500px;
  }
  .banner__box {
    width: 500px;
    top: 120px;
    padding: 15px;
  }
  .banner__box-txt {
    font-size: 14px;
  }
  .banner__box-link {
    font-size: 12px;
  }
  .banner__container {
    max-width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .banner-img {
    width: 260px;
  }
  .banner__box {
    width: 260px;
    padding: 10px;
    flex-direction: column;
    position: static;
    margin-top: -5px;
  }
  .banner__box-txt {
    font-size: 12px;
    text-align: center;
  }
  .banner__box-link {
    font-size: 12px;
    padding-top: 15px;
  }
  .banner__container {
    max-width: 260px;
  }
}

/* Story */
.story {
  background: #f1d3b9;
  padding-top: 60.5px;
  padding-bottom: 61px;
}
.story__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.story-img {
  width: 632px;
  margin-left: 13px;
}
.story__box {
  width: 518px;
  height: 582px;
  background: #f8f8f8;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 52px;
  position: absolute;
  top: 224px;
  left: 595px;
}
.story__box-title {
  font-size: 30px;
  line-height: 192%;
  color: #b45f4d;
  margin-bottom: 22px;
  text-align: center;
}
.story__box-txt {
  font-size: 19px;
  line-height: 160%;
  color: #b45f4d;
  margin-bottom: 41px;
}
.story__box-link {
  font-size: 16px;
  line-height: 160%;
  color: #b45f4d;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1150px) {
  .story__box {
    left: 450px;
  }
  .story__container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .story-img {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .story__container {
    max-width: 690px;
    flex-direction: column;
  }
  .story__box {
    width: 632px;
    height: auto;
    position: static;
  }
}
@media screen and (max-width: 700px) {
  .story__container {
    max-width: 460px;
    flex-direction: column;
  }
  .story__box {
    width: 400px;
  }
  .story-img {
    width: 400px;
  }
  .story__box-title {
    font-size: 24px;
  }
  .story__box-txt {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .story__container {
    max-width: 320px;
  }
  .story__box {
    padding: 25px 15px;
  }
  .story__box {
    width: 260px;
  }
  .story-img {
    width: 260px;
  }
  .story__box-txt {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .story__box-link {
    font-size: 10px;
  }
}

/* Reviews */
.reviews {
  padding-top: 33px;
  padding-bottom: 41px;
}
.reviews-title {
  font-size: 23px;
  text-transform: capitalize;
  text-align: center;
  color: #000;
  margin-bottom: 57px;
}
.reviews__body {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px 230px 230px;
  gap: 10px;
  max-width: 1430px;
  margin: 0 auto;
}
.reviews__body-img {
  width: 230px;
}

@media screen and (max-width: 1439px) {
  .reviews__body {
    grid-template-columns: 230px 230px 230px;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .reviews__body {
    grid-template-columns: 230px 230px;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .reviews__body {
    grid-template-columns: 230px;
    justify-content: center;
  }
}

/* Footer */
.footer {
  background: #f6f4ec;
  padding-top: 66px;
  padding-bottom: 61px;
}
.footer__container {
  max-width: 1340px;
  margin: 0 auto;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 139px;
}
.footer__left {
  display: flex;
  gap: 117px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}
.footer__column-link {
  font-size: 14px;
  line-height: 140%;
  color: #b45f4d;
  text-decoration: none;
}
.footer__right {
  margin-right: 122px;
  margin-top: -2px;
}
.footer__right-name {
  font-size: 14px;
  line-height: 160%;
  color: #c17c6c;
  margin-bottom: 19px;
  text-transform: uppercase;
}
.footer__right-txt {
  font-size: 14px;
  line-height: 160%;
  color: #c17c6c;
}
.footer-copy {
  font-size: 14px;
  line-height: 160%;
  color: #c17c6c;
}

@media screen and (max-width: 1400px) {
  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__right {
    margin-right: 0px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 850px) {
  .footer__body {
    margin-bottom: 50px;
    flex-direction: column;
  }.footer__right {
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .footer__left {
    gap: 40px;
  }
  .footer__right-name {
    font-size: 12px;
  }
  .footer__right-txt {
    font-size: 12px;
  }
}